<%- include("./partials/header") %> 
<div class="row justify-content-center">
    <div class="col-9 col-md-6 col-lg-4">
        <form action="/reset/<%= token %>" method="POST">
            <div class="form-group text-center mb-3">
                <h1 class="h3">Reset Password</h1>
            </div>
            <div class="form-group mt-4">
                <label for="password">New password</label>
                <input type="password" name="password" class="form-control" autofocus>
            </div>
            <div class="form-group">
                <label for="confirm">Confirm new password</label>
                <input type="password" name="confirm" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Update Password</button>
            </div>
        </form>
        <div>
            <a href="/campgrounds">Cancel</a>
        </div>
    </div>
</div>
<%- include("./partials/footer") %> 